body, div, p, img, video, h1, h2, a {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
p{font-size: 20px;}
h1{font-size: 32px;}
h2{font-size: 28px;}
li{font-size: 18px;}
a {
	text-decoration: none;
}
body {
	height: 100%;
	background-image: url("images/background.jpg");
	background-repeat: repeat-y;
	background-size: 100%;

}
.top_menu, .past_lesson, .next_lesson, .footer, .logo {
    position: fixed;
}
.top_menu	{
	top: 0;
	margin-top: 24px;
   display: flex;
   flex-flow: row wrap;
    width: 100%;
}
.top_menu .logo	{
margin-left: 18px;
}

.top_menu .navigation_bar {
    display: flex;
    margin-left: 200px;
}
.nav {
	font-size: 20px;

	margin: 0 15px;
	padding: 15px 0;

}
.nav:hover a {
	border-bottom: 1px solid white;
}

.top_menu .share_bar {
	order: 999;
	display: flex;
	right: 0;
	margin-left: auto;
	margin-right: 86px;

}
.share {
	margin-right:13px;
}
.change_lesson {
	font-family: sans-serif;
	margin-top: 250px;
}
.past_lesson {
	margin-left: 8px;
	font-size: 20px;
    width: 25px; text-align: center;
}
em{
	display: none;
}
.past_lesson:hover em{
	display: inline-block;
}
.next_lesson:hover em{
	display: inline-block;
}
.next_lesson{
   right: 23px;
   font-size: 20px;
    width: 25px; text-align: center;
}

.footer {

}
.main_info{
    width: auto;
    min-height: 100%;
    margin: 0px 20%;
}
